<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Música Peruana</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="red-white-background">
    <h1>Música Peruana</h1>
    <p>La música peruana es un tesoro que refleja nuestra rica diversidad cultural.</p>
    <p class="small-text">Desde la costa hasta la sierra y la selva, cada rincón del Perú tiene su propio ritmo y esencia.</p>
    <img src="/static/musica_peruana_logo.jpg" alt="Los kipus, banda peruana de antano">
    <br>
    <a href="/dos">
        <button>Continuar</button>
    </a>
</body>
</html>

